<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Responsive Part -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Error Haters</title>

    <!-- CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->      <!-- pentru font -->
    <link href="../static/css/agency.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Bara de navigare-->
	<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
		<div class="container">

            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">Book Lovers</a>
            </div>

            <!-- Linkurile pentru navigare cu toate detaliile -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/detalii#services">Despre</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/detalii#about_project">Proiect</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/detalii#team">Echipa</a>
                    </li>
                   <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

	<section id="search_book" class="bg-light-gray">
		<div class="container">

            <br><br>
            <div class="row">
                <div class="col-lg-12 text-center">

                    <form>
    	            	{% if error %}
    	         		<h5>{{error}}</h5>
    					   {% else %}
    					   {% if isbn %}
            			        <h3> ISBN-ul introdus este: {{isbn}}</h3>
            					   {% endif %}
                        <br> <br>
                        <div class="media">
                            <div class="media-left">
                                {% if image_link %}
                                <img src={{image_link}} style="width: 160px">
                                    {% else %}
                                    <img src="../static/img/book.png" style="width: 250px">
                                       {% endif %}
                            </div>
                            <div class="media-body">
                                <br>
                                <h4 class="media-heading">Titlu: {{title}}</h4>
                                <h5> Autor: {{author}} </h5>
                                <h5> Good price: {{good_price}} lei</h5>
                                <h5> Librarie: {{librarie_good}} </h5>
                            </div>
                        </div>

                                {% if bad_price %}
                                    <h5> Second price: {{bad_price}} lei</h5>
                                    <h5> Librarie 2: {{librarie_bad}} </h5>
                                {% endif %}
                            {% endif %}
        				   </form>
    				</div>
    			</div>
        </div>
    </section>


    <section class="bg-dark-gray">
        <div class="container">
            {% if not error and same_author_objects %}
            <div class="col-lg-12 text-center">
                <h1 class="page-header">De același autor ({{author}}):</h1>
            </div>
                {% for object in same_author_objects %}

                    {% if loop.index < 5 %}

                        <div class="col-lg-3 col-md-3 col-xs-6 thumb text-center">
                            <a class="thumbnail" href="#">
                                {% if rec_img_links[loop.index-1] %}
                                <img class="img-responsive" src={{rec_img_links[loop.index-1]}}>
                                {% else %}
                                <img class="img-responsive" src="../static/img/book.png" alt="">
                                {% endif %}
                            </a>
                            <h5 class="text-center"><strong>{{object.title}}</strong></h5>
                            <a class=" btn btn-xl btn-normal text-center" href="{{object.link}}">Cumpără cartea</a>
                            <h5 class="text-center">preț: {{object.price}} lei</h5>
                            <p class="text-center">ISBN: {{object.isbn}}</p>
                        </div>
                    {% endif %}

                {% endfor %}
        {% endif %}
        </div>
    </section>

    <section class="bg-light-gray">
        <div class="container">
            <br><br><br>  <!-- Space between buttons -->
            <form method="post" class ="form-inline animated flipInX container" enctype = "multipart/form-data">
                <div class="row">
                    <label class="page-scroll btn btn-xl" id="labelUpload2">
                        <input type="file" class=" fileinput" name="file" id="fileToUpload2" style="display: none" onclick="changeLabel();">
                        <span id="uploadButtonName2">Upload poză ISBN</span>
                    </label>
                </div>

                <div class="row margin-top-20px" id="manualISBN2">
                    <div class="form-group">
                        <label>sau scrie ISBN-ul aici...:</label>
                        <input type="text" class="form-control" id="manualISBNinput2" name="manualISBNinput2"  onChange="showSearchBtnIfText()" onfocus="showSearchBtnIfText()">
                    </div>
                </div>


                <div class="row margin-top-20px" >
                    <input type="submit" value="Caută cartea" class="page-scroll btn btn-primary" id="cauta2" style="display: none;" >
                </div>
                    <br>  <!-- Space between buttons -->
                <div class="row">
                          <!--must be just name of section in href for effect -->
                    <a class="page-scroll btn btn-instructiuni" href="#instructions">
                        <h6>Instrucțiuni de utilizare</h6>
                    </a>
                </div>
            </form>
        </div>
	</section>


    <footer class="bg-dark-gray">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <span class="copyright"><strong>Copyright &copy; Book Lovers 2017</strong></span>
                </div>
            </div>
        </div>
    </footer>

<!-- jQuery -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>

    <!-- JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>
    <script src="../static/js/agency.min.js"></script>
    <script src="../static/js/search.js"></script>

    <!-- Effects (in this order)  -->
    <script src="../static/js/wow.min.js"></script>
    <script src="../static/js/efwow.js"></script>
</body>
</html>